//A File from tutorial



-data = data || {}

if errors
	ul.my-errors
		for error in errors
			li= error.msg

form(action="." method="POST" class="form-registration")
	label(for="Email") email:
	input(
		type="text"
		id="email"
		name="email"
		class="form-control"
		value=data.email
	)

	label(for="Password") Password:
	input(
		type="Password"
		id="Password"
		name="Password"
		class="form-control"
		value=data.pass
	)

	input(
		type="submit"
		value="Submit"
		class="btn btn-lg btn-primary btn-block"
	)